<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>08-request&amp;response</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>res_locationServlet</servlet-name>
    <servlet-class>servlet.res_locationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>res_2locationServlet</servlet-name>
    <servlet-class>servlet.res_2locationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>servlet.downloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>download2servlet</servlet-name>
    <servlet-class>servlet.download2servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>identityServlet</servlet-name>
    <servlet-class>servlet.identityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ParamsServlet</servlet-name>
    <servlet-class>servlet.ParamsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registeredServlet</servlet-name>
    <servlet-class>servlet.registeredServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>msgServlet</servlet-name>
    <servlet-class>servlet.msgServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>res_locationServlet</servlet-name>
    <url-pattern>/res_locationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>res_2locationServlet</servlet-name>
    <url-pattern>/res_2locationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download2servlet</servlet-name>
    <url-pattern>/download2servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>identityServlet</servlet-name>
    <url-pattern>/identityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParamsServlet</servlet-name>
    <url-pattern>/ParamsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registeredServlet</servlet-name>
    <url-pattern>/registeredServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>msgServlet</servlet-name>
    <url-pattern>/msgServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>