<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>12-jdbcDemo</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findallServlet</servlet-name>
    <servlet-class>servlet.findallServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>servlet.addServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findProductByidServlet</servlet-name>
    <servlet-class>servlet.findProductByidServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteProductByidServlet</servlet-name>
    <servlet-class>servlet.deleteProductByidServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>servlet.editServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteCheckServlet</servlet-name>
    <servlet-class>servlet.deleteCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findproductbyCondition</servlet-name>
    <servlet-class>servlet.findproductbyCondition</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showProductByPageServlet</servlet-name>
    <servlet-class>servlet.showProductByPageServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>findallServlet</servlet-name>
    <url-pattern>/findallServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findProductByidServlet</servlet-name>
    <url-pattern>/findProductByidServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteProductByidServlet</servlet-name>
    <url-pattern>/deleteProductByidServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteCheckServlet</servlet-name>
    <url-pattern>/deleteCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findproductbyCondition</servlet-name>
    <url-pattern>/findproductbyCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPageServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>